mis_flujos.json
[{"updatedAt":"2026-01-17T11:04:29.802Z","createdAt":"2026-01-17T10:57:03.024Z","id":"0728cxOq4BSz_aeNBX5y_","name":"Mi primer workflow","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[-384,-64],"id":"371f272c-ad96-43e7-96fa-5e87e0486595","name":"Schedule Trigger"},{"parameters":{"assignments":{"assignments":[{"id":"60d434ec-9b09-49fd-9f80-55c897a88cbb","name":"Mensaje","value":"Este es mi primer workflow en N8N","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-176,-64],"id":"3470d862-0da7-4627-b6a4-3fd46b8b8d07","name":"Edit Fields"},{"parameters":{"options":{}},"type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[32,-64],"id":"64b17d81-d961-4c81-9435-ce1483fdb112","name":"Date & Time"},{"parameters":{"html":"<!DOCTYPE html>\n\n<html>\n<head>\n  <meta charset=\"UTF-8\" />\n  <title>{{ $workflow.name }}</title>\n</head>\n<body>\n  <div class=\"container\">\n    <h1>{{ $('Edit Fields').item.json.Mensaje }}</h1>\n    <h2>{{ $('Schedule Trigger').item.json.Year }}</h2>\n  </div>\n</body>\n</html>\n\n<style>\n.container {\n  background-color: #ffffff;\n  text-align: center;\n  padding: 16px;\n  border-radius: 8px;\n}\n\nh1 {\n  color: #ff6d5a;\n  font-size: 24px;\n  font-weight: bold;\n  padding: 8px;\n}\n\nh2 {\n  color: #909399;\n  font-size: 18px;\n  font-weight: bold;\n  padding: 8px;\n}\n</style>\n\n<script>\nconsole.log(\"Hello World!\");\n</script>"},"type":"n8n-nodes-base.html","typeVersion":1.2,"position":[240,-64],"id":"785fb19a-d0ec-4895-95ef-894372ffc6b3","name":"HTML"}],"connections":{"Schedule Trigger":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Date & Time","type":"main","index":0}]]},"Date & Time":{"main":[[{"node":"HTML","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":null,"pinData":{},"versionId":"55521c81-fc39-4632-954c-cc15ee222fd2","activeVersionId":null,"versionCounter":2,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-01-17T10:57:03.028Z","createdAt":"2026-01-17T10:57:03.028Z","role":"workflow:owner","workflowId":"0728cxOq4BSz_aeNBX5y_","projectId":"iuTlzLFwope3Hexq","project":{"updatedAt":"2026-01-17T10:24:00.812Z","createdAt":"2026-01-17T10:20:39.595Z","id":"iuTlzLFwope3Hexq","name":"Marcos Pérez <marcos217371@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"08f632cd-0fbb-4fdd-9c03-fca56e2ec341"}}]},{"updatedAt":"2026-01-17T11:20:41.281Z","createdAt":"2026-01-17T11:04:54.203Z","id":"ImUZOX-wGt06rS84lgTgH","name":"Formulario de contacto","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"formTitle":"¿Quíeres que hagamos tu proyecto?","formDescription":"Contacta con nosotros si quieres que hagamos tu aplicacion web, automatización webapp con ia, lo que sea con software. ","formFields":{"values":[{"fieldLabel":"Nombre","requiredField":true},{"fieldLabel":"Apellido","requiredField":true},{"fieldLabel":"Email","fieldType":"email","requiredField":true},{"fieldLabel":"Numero de telefono ","fieldType":"number"},{"fieldLabel":"Propuesta","fieldType":"textarea"}]},"options":{"appendAttribution":false,"buttonLabel":"Enviar","respondWithOptions":{"values":{"respondWith":"redirect","redirectUrl":"https://youtube.com"}},"ignoreBots":false}},"type":"n8n-nodes-base.formTrigger","typeVersion":2.5,"position":[-224,0],"id":"c3d93bfe-0c00-4a6f-996c-2767a9efdf3e","name":"On form submission","webhookId":"e7e765b4-dcf0-4efa-a28e-a5980d609b1d"},{"parameters":{"sendTo":"marcos217371@gmail.com","subject":"Propuesta de proyecto del forumlario de contacto","message":"=<h1> {{ $json.Email }}</h1>\n{{ $json.Nombre }}{{ $json.Apellido }}dice:\n{{ $json.Propuesta }}\nSu numero de telefono: {{ $json['Numero de telefono '] }}\nSu email: {{ $json.Email }}\n","options":{"appendAttribution":false}},"type":"n8n-nodes-base.gmail","typeVersion":2.2,"position":[-16,0],"id":"261ed699-5168-43b8-ab16-06fccae9e5e1","name":"Send a message","webhookId":"e6104b3a-87e1-46f0-aa14-e90329ae8202","credentials":{"gmailOAuth2":{"id":"EBKwnREOk2qFrb56","name":"Gmail account"}}}],"connections":{"On form submission":{"main":[[{"node":"Send a message","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"1c066da8-1fdd-4fb8-954f-e40034fff831","activeVersionId":null,"versionCounter":4,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-01-17T11:04:54.208Z","createdAt":"2026-01-17T11:04:54.208Z","role":"workflow:owner","workflowId":"ImUZOX-wGt06rS84lgTgH","projectId":"iuTlzLFwope3Hexq","project":{"updatedAt":"2026-01-17T10:24:00.812Z","createdAt":"2026-01-17T10:20:39.595Z","id":"iuTlzLFwope3Hexq","name":"Marcos Pérez <marcos217371@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"08f632cd-0fbb-4fdd-9c03-fca56e2ec341"}}]},{"updatedAt":"2026-01-23T18:01:02.772Z","createdAt":"2026-01-22T10:39:58.912Z","id":"Ix8aY9YHXVEiFBccYkv8p","name":"Chatbot MOKeys","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"public":true,"initialMessages":"Hola en que puede ayudarte hoy","options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.4,"position":[0,0],"id":"45dfff05-8de9-40be-b1fd-9e0fa4271fc5","name":"When chat message received","webhookId":"c96ede85-7cb3-4276-9a8c-3e9b6a5929c7"},{"parameters":{"promptType":"define","text":"={{ $('When chat message received').item.json.chatInput }}","options":{"systemMessage":"Eres MOKeys Assistant, el asistente virtual oficial de MOKeys.\n\nTu función es resolver dudas de manera clara, amable y profesional sobre:\n- Funcionamiento de MOKeys\n- Compra/Venta de claves y entrega\n- Métodos de pago, seguridad y garantías\n- Soporte postventa\n\nResponde siempre en español con tono cordial. Si no sabes algo, recomienda contactar a soporte.\n\nREGLA DE ORO PARA GESTIÓN DE CONTACTO (SOPORTE/INCIDENCIAS):\nSi el usuario reporta un problema o pide contacto, pídele: Nombre, Email y Asunto.\n\nEN CUANTO TENGAS LOS DATOS, EJECUTA LA HERRAMIENTA GMAIL INMEDIATAMENTE:\n\n1. CAMPO 'To': Usa el email del cliente.\n2. CAMPO 'Message': \n   ⚠️ ¡IMPORTANTE! NO ESCRIBAS TEXTO PLANO. \n   ⚠️ DEBES GENERAR EL CONTENIDO EXCLUSIVAMENTE EN CÓDIGO HTML.\n   - Tu respuesta para este campo DEBE empezar obligatoriamente por \"<div style=\".\n   - NO uses comillas de código markdown (```). Escribe el código HTML \"crudo\".\n\nUsa OBLIGATORIAMENTE esta plantilla para asegurar el diseño:\n\n<div style=\"font-family: Arial, sans-serif; color: #333333; line-height: 1.6; max-width: 600px;\">\n  <h2 style=\"color: #2c3e50; margin-bottom: 20px;\">¡Hola [NOMBRE DEL CLIENTE]! 👋</h2>\n  <p>Hemos recibido tu solicitud de soporte en MOKeys correctamente.</p>\n  <div style=\"background-color: #f8f9fa; border-left: 4px solid #3498db; padding: 15px; margin: 20px 0; border-radius: 4px;\">\n    <p style=\"margin: 0; color: #2c3e50;\">\n      <strong>🚀 Tu incidencia ha sido registrada.</strong><br>\n      Nuestro equipo ya está revisando tu caso y te contestará a este correo lo antes posible.\n    </p>\n  </div>\n  <p>Gracias por contactar con <strong>MOKeys</strong>.<br>\n  <em>El equipo de Soporte.</em></p>\n</div>"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[416,0],"id":"585749cd-1fc3-4f36-90af-8cae137cee4c","name":"AI Agent"},{"parameters":{"options":{}},"type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[208,0],"id":"cce58cc4-588c-4e10-8baf-f4080b84870a","name":"Date & Time"},{"parameters":{"modelName":"models/gemini-robotics-er-1.5-preview","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[288,208],"id":"fbbf652a-d657-4e55-b5dd-5fb2bf049ecc","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"xdsV1eURPu5qeyNc","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"sessionIdType":"=customKey","sessionKey":"={{ $('When chat message received').item.json.sessionId }}"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[432,208],"id":"d330d730-3117-4130-9d16-4e53863e9eb2","name":"Simple Memory"},{"parameters":{"sendTo":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('To', ``, 'string') }}","subject":"Ayuda incidencia ","message":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}","options":{"appendAttribution":false}},"type":"n8n-nodes-base.gmailTool","typeVersion":2.2,"position":[704,208],"id":"325f25d6-78c7-4fa9-80e5-0ce817277adf","name":"Send a message in Gmail","webhookId":"ec90df64-83e0-46d4-b6df-2afe44f18ccd","credentials":{"gmailOAuth2":{"id":"EBKwnREOk2qFrb56","name":"Gmail account"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.dateTimeTool","typeVersion":2,"position":[576,208],"id":"43830f5b-0880-4f76-9586-24f0e77ba327","name":"Date & Time1"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolThink","typeVersion":1.1,"position":[816,192],"id":"da7179c3-04ab-4a20-847f-f58a06b1d829","name":"Think"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolCalculator","typeVersion":1,"position":[928,160],"id":"6021586b-e6e6-4510-b41d-33f4d37fd288","name":"Calculator"}],"connections":{"When chat message received":{"main":[[{"node":"Date & Time","type":"main","index":0}]]},"Date & Time":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Send a message in Gmail":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Date & Time1":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Think":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Calculator":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"53eae392-4f73-4d50-a773-a2544406b02c","activeVersionId":"53eae392-4f73-4d50-a773-a2544406b02c","versionCounter":12,"triggerCount":1,"tags":[],"shared":[{"updatedAt":"2026-01-22T10:39:58.917Z","createdAt":"2026-01-22T10:39:58.917Z","role":"workflow:owner","workflowId":"Ix8aY9YHXVEiFBccYkv8p","projectId":"iuTlzLFwope3Hexq","project":{"updatedAt":"2026-01-17T10:24:00.812Z","createdAt":"2026-01-17T10:20:39.595Z","id":"iuTlzLFwope3Hexq","name":"Marcos Pérez <marcos217371@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"08f632cd-0fbb-4fdd-9c03-fca56e2ec341"}}]}]
